body{background-color: rgb(25, 13, 194);}
#t1{
    text-align: center;
    color:white;
    font-size: 65px;
}
#t2{
    text-align: center;
    color:white;
    font-size: 65px;
}
#champ{display: block;
margin-left:  auto;
margin-right: auto;
width: 150px;}

.partidos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bloque{
    display: flex;
    flex-direction: column;
}
.bloque a{
    display: block;
}
.bloque img{
    width: 100%;
}
